html{
	height:100%;
}
body{
	padding-top:80px;
	background-color:rgb(34, 142, 151);
	height:100%;
}
.navbar-fixed-top{
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0);

}
.navbar-default .navbar-brand{
	font-size:120%;
	font-family: helvetica;
}
.navbar-nav > li > a{
	font-size:120%;
}
.container-fluid.body{
	background-color:rgb(34, 142, 151);
	padding:0px;
	margin:0px;
	height:100%;

}
.btn{
	font-weight:bold;
}
tr:hover{
	background-color:#eeeeee;
}

.content{
	padding-top:15px;
}
.panel{
	font-family:sans-serif;
	border:none;

	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.panel > .panel-heading{
	font-weight:900	;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	margin-bottom: 0px;
	border:none;
	text-shadow:none;
	background-color:#337ab7 /* rgb(232, 74, 95)*/;
	color:#fff;
}
.panel-projects>.panel-heading{
	font-weight:900	;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	margin-bottom: 0px;
	border:none;
	text-shadow:none;
	background-color:#337ab7;
	color:#fff;
}
label{
	font-family:monospace;;
	font-weight:400;
	color:#424242;
}
input[type=file]+label{
	background-color:rgb(232, 74, 95);
	border-radius: 10px;
	padding:10px 10px;
	color:#fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	font-weight:bold;
}

input[type=file]+label:hover{
	background-color:rgb(200, 70, 80);
	color:#bababa;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding:10px 10px;
	color:#fff;
	font-weight:bold;
}
input[type=file]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
input[type="checkbox"]{

}
input[type="checkbox"]+label{
	padding:0px 5px;
	color:rgb(59, 129, 131);
}
input,.form-control{
	outline: none;
	color:rgba(0,0,0,0.8);
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:2.5px solid #22ADC2;
	border-radius:0px;
	box-shadow:none;
	color:#22ADC2;
	font-weight: bold;
	font-family:monospace;
	background:transparent;
}
input:hover,input:focus,textarea:hover,textarea:focus{

	-webkit-box-shadow: 0px 0px 5px 1px rgba(34,173,194,0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(34,173,194.5);
	box-shadow: 0px 0px 5px 1px rgba(34,173,19434,1,0.5);
}
.center-content{
	position:relative;
	text-align:center;
	min-height:300px;
	height:300px;

}
.center-content div{
	position: absolute;
  	top: 50%; left: 50%;
	transform: translate(-50%,-50%);

}
.center-content h1,.center-content h4{
	color:#fafafa;
	font-family: verdena;
}

.add-category-panel,.add-skill-panel{
	height:100%;
}
table{
	overflow-y: scroll;
}
.help-block{
	color:rgb(232, 74, 95);
}
.project-img-thumbnail-container{
	display:inline-block;
	margin:2px;
}.show-image-modal .modal-dialog{
	max-width: 1060px;
	width:70%;
}
.show-image-modal .modal-body{
	padding:0px;
}
.project-img-thumbnail{
	float:left;
	display:inline;
	height:50px;
	width:50px;
}
.project-img-thumbnail:hover{
	padding:5px;
}
.full-screen-image{
	 	width:100%;
}
.slider{
	height:500px;
}
.slider .image-holder{
	width:60%;
	float:none;
	margin:0px auto;
}
.slider .image-holder img{
	height:500px;
	width:100%;
}
.center-content.project-desc{
	background-color: #eee;
	margin-top:80px;
}
