body{
	font-family:'Roboto',sans-serif;
	padding-top: 80px;

}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	overflow:hidden;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}
.row{
	margin:0px;
}
.top-nav{
	min-height:40px !important;
	margin:0px;
}
.top-nav .navbar-nav li a{
	padding:10px 5px 0px 5px;
}
.navbar-primary{
	min-height:60px !important;
	margin-bottom:0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 15px 45px -9px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 15px 45px -9px rgba(0,0,0,0.45);
	box-shadow: 0px 15px 45px -9px rgba(0,0,0,0.45);
	color:#000 !important;
	font-weight:900 !important;
}
.navbar-default .navbar-brand{
	height:70px;
	padding:20px 5px 5px 5px;
	line-height: 68px;
}
.navbar-default .navbar-brand img{
	height:50px;
	margin-left:10px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background-color: white;
}
.main-content,.project-main{
	width:100%;
	padding:0px;
}
.main-content .article-top{
	padding-top:1%;
}
.padding-top-container{
	padding-top:5%;
}
.round-button{
	border-radius:20px;
}
.transparent{
	background-color: transparent;
	color:#fff;
	border-color: #fff;
}
.transparent:hover{
	border-color: #fff;
	background-color:#fff;
	color:#333;
}
.main-content .article-top:nth-child(even) .article-media{
	float:right;
}

.main-content .article-top:nth-child(even) .article-content{
	float:right;
}
.main-content .article-top:nth-child(odd) .article-media{
	float:left;
}

.main-content .article-top:nth-child(odd) .article-content{
	float:left;
}
.article-content{
	padding:5% 5% 5% 5%;
	text-align:center;
}
.project-name{
	color:#fff;
	font-variant-caps: small-caps;
	font-weight:900;
	font-size:36px;
}
.project-desc{
	color:#fff;
	font-variant: normal;
	letter-spacing: 0.1em;
}
.article-media{
	border-radius: 10px;
}
.article-media img{
	border-radius: 10px;
	box-shadow:0 25px 40px -15px rgba(0,0,0,0.5);
}
.container-padding{
	padding: 1% 1% !important;
}
.category-heading-container{
	text-align: center;
	border-bottom: 1px solid #fff;
}
.pretty-heading{
	font-size:3em;
	color:#fff;
	font-family: 'Pacifico', cursive;
}
.project-thumb{
	height:100%;
	padding:0px;
	border-top: 2px solid #1B2439;
	background-color: #fff;

	box-shadow:0 15px 10px -10px rgba(0,0,0,0.9);
}
.project-thumb:hover{
	opacity:0.7;
}
.project-thumb .thumb-content{
	padding:2em 1em 1em 2em;
	max-height:10em;
}
.project-thumb .thumb-content .text{
	color:#333;
}
.project-thumb .thumb-media img{
}
.header{
	background-color:#1B2539;text-align:center;
	padding:10px 10px 0px 10px	;
}
.nav-project{
	padding:20px 10px;
	border-top: 1px solid rgb(34, 142, 151);
	background-color: #eff0f1;
}
.prev-project,.next-project{
	color:rgb(34, 142, 151);
	bottom:0px;
	font-family: monospace;
	font-size:1em;
	font-weight: 600;
	text-decoration: none;
}

.prev-project:hover,.next-project:hover{
	color:#FC9D0D;
	text-decoration: none;
	text-shadow:
}

.slider-container{
	overflow:hidden;
}
.slider-container img{
	max-height: 520px;
	margin:0px auto;
}
.carousel-control.left{
	position:absolute;;
	left:-10%;
	top:50%;
	background-image: none;
	transform: translateY(-50%);
}

.carousel-control.right{
	position:absolute;;
	right:-10%;
	top:50%;
	background-image: none;
	transform: translateY(-50%);
}
.project-details{
	background-color: #fff;
	color:#333;
	padding:5% 0;
}
.round-button-dark{
	font-family: sans;
	border-radius: 0.25em;
	background-color: #00B5CC;
	color:#fff;
	font-size:1.2em;
	padding:0.4em 0.5em;
}
.footer{
	height:100%;
	background-color: #333;
}

.call_action{
	width:100%; height:auto; float:left; background-image:url('../images/subscribe-bg.jpg'); padding:0px;
}
.call_action1{
	width:100%; height:auto; float:left; background-image:url('../images/subscribe-arrow.png'); background-repeat:no-repeat; background-position:left; background-size:35% 100%; padding: 5px 0px;
}
#hcard_embed { max-width: 100% !important;}
div.vcard{    background-color: transparent  !important;    border-radius: 0px  !important;    padding: 0px  !important; width:100%  !important; font-family: 'Dosis', sans-serif!important; font-weight:400;    font-size: 16px  !important;    color: #fff  !important;    line-height: 28px  !important;    margin-bottom: 20px  !important;}
div.vcard div.fn{border-bottom:0px !important;}


/**
	imported css
**/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 10%;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.navbar-default .navbar-nav > li > a{
	cursor: default;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}


#graid5{background-color:#232323; width:100%; float:left;  }
#graid5-1{ height:auto; float:left;  width:100%;  padding:35px 0px 0px; }
#graid5 .heading4{width:100%; border-bottom:1px solid #c4c4c4; height:auto; font-family: 'Dosis', sans-serif; font-weight:500; text-transform:uppercase; color:#fff; font-size:20px; margin-bottom:10px; letter-spacing:1px;}
#graid5 p{font-family: 'Dosis', sans-serif; font-weight:500; font-size:16px; color:#fff; line-height:28px; margin-bottom:20px;}
#graid5 ul{ list-style-type: square; padding-left:17px;}
#graid5 ul li{font-family: 'Dosis', sans-serif; font-weight:500; font-size:16px; color:#fff; line-height: 20px; margin-bottom: 10px;}
#graid5 ul li a{text-decoration:none; color:#fff;}
#graid5 ul li a:hover{text-decoration:none; color:#FC9D0D;}
#graid5 .box2{width:90%; min-height:180px;}
#graid5 .box3{width:90%; min-height:120px;}
#graid5 .box3 img{    margin-right: 6px;    height: 36px;}
#graid5 .box4{width:90%; }
#graid5 .box4 img { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */}
#graid5 .box4 img:hover{filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);}
#graid5 .box4 span{color:#898989; text-transform:uppercase;}

#graid6{background-color:#656565; width:100%; float:left; }
#graid6-1{ height:auto; float:left;  width:100%;  padding:10px 0px 1px; }
#graid6-1 p{font-family: 'Dosis', sans-serif; font-weight:500; font-size:15px; color:#fff; line-height: 20px; display:inline-block;}
#graid6-1 p a{text-decoration:none; color:rgba(255, 255, 255, 0.59);}
#graid6-1 p a:hover{text-decoration:none; color:#fff;}


.email01{width:100%; height:auto; float:left; margin-top: 23px;}
.email02{width:21%; height:auto; float:left; text-align: right;}
.email03{width:70%; height:auto; float:right;  font-family:  "calibri"; color: #fff; font-size:17px;}
.email03 a{text-decoration:none; color:#fff !important;}
.email03 a:hover{text-decoration:none; color:#fff !important;}
.email03 span{font-weight:bold; font-size:32px;     font-family:  "calibri";}
.email05{width:100%;height:auto;float:left;padding: 0px 7% 0px 0px;}
.email04{width:100%; height:auto; float:right;  font-family: "calibri"; color: #fff; font-size:16px;}
.email04 span{font-weight:bold; font-size:43px;     font-family: "calibri";  color: #fff; font-style:italic; }

.way1{width:100%; height:auto; float:left; padding:30px 0px 10px; line-height: 28px;      font-size: 22px;    color: #041927;    font-family: 'Roboto', sans-serif; font-weight:300; text-align:center;}
